/* cart.css */

/* Desktop styles */
.Cart {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.cart {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.cartbtn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 15px;
}

.cartbtn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .Cart {
        font-size: 32px;
    }

    .cart {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .Cart {
        font-size: 24px;
    }
}

.cart img {
    width: 38%;
    max-width: 38%;
    height: auto;
    border: 1px solid rgb(19, 19, 19);
    /* Adding a border around the image */
    border-radius: 12px;
    /* Optional: Adding border-radius for rounded corners */
    padding: 5px;
    /* Optional: Padding around the image */
    box-sizing: border-box;
}