/* Desktop styles */
.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 4px solid rgb(19, 19, 19);
            /* Adding a border around the image */
    border-radius: 8px;
        /* Optional: Adding border-radius for rounded corners */
    padding: 5px;
        /* Optional: Padding around the image */
    box-sizing: border-box;
}

.product .description {
    text-align: center;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 15px;
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .shopTitle {
        font-size: 32px;
    }

    .products {
        grid-template-columns: 1fr 1fr;
    }

    .product {
        width: 250px;
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .shopTitle {
        font-size: 24px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .product {
        width: 90%;
        margin: 10px auto;
    }
}

